{% extends "pages/home.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <p>This tool allows users to easily access EPA data on the worst polluters in each state for a given year.<br>
            For further info on the data, please check out the <a
                href="https://www.epa.gov/enviro/greenhouse-gas-overview" target="_blank">Envirofacts Greenhouse Gas
                Data Overview</a> page.<br><br>
            View the project on <a href="https://github.com/alexsandberg/dirty-dozen" target="_blank">GitHub</a><br>
            Author: Alex Sandberg-Bernard
        </p>
    </div>
</div>
{% endblock %}